{
  "driver": "mysql",
  "mysql": {
    "host": "localhost",
    "user": "xxxxxx",
    "password": "xxxxxx",
    "database": "Twitter_Dev"
  },
  "twitter": {
    "consumer_key": "xxxxxxxxxxxxxxxxxx",
    "consumer_secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "access_token_key": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "access_token_secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  },
  "create_table": true,
  "create_media_table": true,
  "create_updateId_table": true,
  "create_user_table": true,
  "download_path": "/Users/xxxxxxx/xxxxxxxx/twitter",
  "link_path": "/Users/xxxxxxxxxx/TweetMediaViewer/public/twitter"
}
